
html {
		box-sizing: border-box;
}
*, *:before, *:after {
		box-sizing: inherit;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2 {
	font-family: cursive;
	font-weight: 400;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
	text-align: center;
	}

a {
	color: #ef233c;
}

a:hover {
	text-decoration: none;
}

h1,h2 { 
	text-align: center;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-narrow {
	width: 30%;
	float: left;
	min-height: 175px;
}

.col-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
	min-height: 175px;
}


header, footer {
	background-color: #2b2d42;
	color: #8d99ae;
	margin: 0 auto;
	width: 100%;
}

.profile-img {
	border-radius: 100%;
}

header h1, header h2 {
	color: #edf3f4;
	margin: 0;
}

footer {
	text-align: center;
}

.contact-info a {
	padding: 10px;
	display: inline-block;
}

.education {
	background-color: #bac4d6;
}

.work {
	background-color: #8d99ae;
}


.fa {
		padding: 20px;
		font-size: 30px;
		width: 50px;
		text-align: center;
		text-decoration: none;
		margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
		background: #3B5998;
		color: white;
}

.fa-twitter {
		 background: #55ACEE;
		color: white;
}

.fa-instagram {
		background: #125688;
		color: white;
}

.fa-snapchat-ghost {
		background: #fffc00;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

* {box-sizing: border-box}

.container {
		width: 100%;
		background-color: #ddd;
}

.skills. {
		text-align: right;
		padding: 10px;
		color: white;
		background-color: #d3dae8
}

.html {width: 80%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 50%; background-color: #f44336;}
.php {width: 50%; background-color: #808080;}

.skilltitle {
	color: black
}

#skills {
	color: black;
	text-align: center;
	margin-top: 0;
}
